<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New bus</title>
</head>
<body>

<form th:method="POST" th:action="@{/buses}" th:object="${bigBus}">
	
	<label for="number">Enter number: </label>
	<input type="text" th:field="*{number}" id ="number"/>
	
	<label for="fleet">Select fleet: </label>
	<select class="Fleet" th:field="*{id}"  id ="fleet">
		<option th:each="fleet:${fleet}" th:value="${fleet.getId()}" th:text="${fleet.getName()}"></option>
	</select>
	

	<label for="dashCam">Select dashcam: </label>
	<select class="CP4" th:field="*{id}"  id ="dashCam">
		<option th:each="dashCam:${dashCam}" th:value="${dashCam.getId()}" th:text="${dashCam.getName()}"></option>
	</select>
	
	
	
	<br/>
	<input type ="submit" value="Create"/>
	
	
</form>

</body>
</html>